@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lucette';
  src: url('/fonts/lucette/font/woff2/Lucette-Regular.woff2') format('woff2'),
    url('/fonts/lucette/font/woff2/Lucette-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lucette';
  src: url('/fonts/lucette/font/woff2/Lucette-Regularitalic.woff2')
      format('woff2'),
    url('/fonts/lucette/font/woff2/Lucette-Regularitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Snell Roundhand';
  src: url('/fonts/snell-roundhand/SnellBT-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Uncut Sans';
  src: url('/fonts/uncut-sans/Uncut-Sans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: "Uncut Sans";
}
.PerfumeSlider {
  position: relative;
}

.PerfumeSlider .next-arrow {
  top: 40%; /* Position the element at the vertical center of its parent */
  transform: translate(0, -50%);
  right: -20px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  z-index: 20;
}
.PerfumeSlider .prev-arrow {
  left: -20px;
  top: 40%; /* Position the element at the vertical center of its parent */
  transform: translate(0, -50%);
  position: absolute;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  z-index: 20;
}

body {
  margin: 0;
}

.PopupModal {
  position: relative;
}

.PopupModal .swiper-wrapper {
  align-items: center;
}

.PerfumeCard .zoom-animation {
  animation: zoom-in 0.3s ease-in-out;
}

.slide-animation {
  transition: all 0.5s ease-in-out;
}

@layer components {
  /* .prev-arrow{
    @apply absolute left-[-50px] top-1/2 transform translate-y-[-50%] w-[35px] h-[35px] z-20
  } */
  .custom-text-80px {
    @apply text-16px xsm:text-20px md:text-32px lg:text-48px xl:text-60px 2xl:text-80px;
  }
  .custom-text-100px {
    @apply text-16px xsm:text-24px md:text-40px lg:text-60px xl:text-80px 2xl:text-100px;
  }
  .custom-text-120px {
    @apply text-16px xsm:text-32px md:text-60px lg:text-80px xl:text-100px 2xl:text-120px;
  }
  .custom-text-140px {
    @apply text-20px xsm:text-32px md:text-80px lg:text-100px xl:text-120px 2xl:text-140px;
  }
  .custom-text-140px-perfume-detail {
    @apply text-20px xsm:text-32px md:text-80px lg:text-5xl xl:text-120px 2xl:text-140px;
  }
  .custom-text-160px {
    @apply text-24px xsm:text-48px md:text-100px lg:text-120px xl:text-140px 2xl:text-160px;
  }
  .custom-floating-container {
    @apply w-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center;
  }
}
